*{margin: 0;
padding: 0;}
.container{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
}
.gozdis{
    border: 3px solid black;
    height: 10em;
    width: 10em;
  border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.goz-renk{
    border: 1px solid black;
    background-color: rgb(48, 124, 124);
    height: 5em;
    width: 5em;
    border-radius: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.goz-bebegi{
    border: 1px solid black;
    height: 2.5em;
    width: 2.5em;
    background-color: black;
    border-radius: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.isik{
    border: 1px solid rgb(255, 255, 255);
    height: 0.5em;
    width: 0.5em;
    margin: -25px 1px 30px 30px ;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;  
}
.isik-ic{
    border: 1px solid rgb(255, 255, 255);
    height: 0.5em;
    width: 0.5em;
    margin: 1px 20px -10px -1px ;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;  
    position: absolute;
}